{% extends 'base_layout.html' %}

{% block content %}
{% autoescape off %}
<div class="article-detail">
    <iframe src={{ article.iframe_src }}></iframe>
    <div class="article">
        <img
            src={{ article.thumb.url }}
            class={{ article.imgSize }}
        />
        <h2 style={{ article.title_color }}>
            {{ article.title }}
        </h2>
        <h3>
            Written by {{ article.author.username }}
            <a href={{  article.author_homepage  }}>
                <button>Author Homepage</button>
            </a>
        </h3>

        <form id="test"></form>
        <button form="test" formaction={{ article.formaction }}>
            formaction XSS
        </button>

        <math href={{ article.math_href }}>
            Math href XSS
        </math>

        <p>{{ article.body }}</p>
        <p>{{ article.date }}</p>

        {% if 'accessLevel' in request.GET %}
            <pre>NOTE:
                You are accessing an article that is of Access-level of {{ request.GET.accessLevel }}.
                Proceed with caution.
            </pre>
            <script>
                var accessLevel = {{ request.GET.accessLevel }};
                document.write("User access level is: ", accessLevel)
            </script>
        {% endif %}
    </div>
</div>
{% endautoescape %}
{% endblock %}
